<!-- <p>gestion-applications works!</p> -->
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <!-- <i class="vsm-icon pe-7s-phone"></i> -->
                <i class="icon {{icon}}"></i>
            </div>
            <!-- <i class="vsm-icon pe-7s-phone"></i> -->
            <div>
                Gestion des applications
                <div class="page-title-subheading">
                    test test
                </div>
            </div>
        </div>
        <div class="page-title-actions">
            <!-- <button type="button" class="btn-shadow mr-3 btn btn-dark">
          <fa-icon [icon]="faStar"></fa-icon>
        </button> -->
            <button type="button" class="btn-shadow d-inline-flex align-items-center btn btn-success">
                <!-- <fa-icon [icon]="faPlus" class="mr-2"></fa-icon> -->
                Ajouter un nouveau Application
            </button>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="exampleFormControlSelect1">Example select</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Terminal 1</option>
      <option>Terminal 2</option>
      <option>Terminal 3</option>
      <option>Terminal 4</option>
      <option>Terminal 5</option>
    </select>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-6 col-xl-4">
      <div class="card mb-3 widget-chart">
        <div class="widget-chart-content">
          <div class="icon-wrapper rounded">
            <div class="icon-wrapper-bg bg-warning"></div>
            <i class="lnr-laptop-phone text-warning"></i>
          </div>
          <div class="widget-numbers">
            <span>Facebook</span>
          </div>
          <div class="widget-subheading fsize-1 pt-2 opacity-10 text-warning font-weight-bold">Terminal 1</div>
          <div class="widget-description opacity-8">
            <span class="text-danger pr-1">
              <span class="pl-1">54.1%</span>
            </span>
            down last 30 days
          </div>
          <br>
          <button type="button" class="btn-shadow d-inline-flex align-items-center btn btn-danger">
            Désinstaller 
        </button>
        </div>
        <div class="widget-chart-wrapper">
          <div class="d-block">
            <canvas baseChart class="chart"></canvas>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-sm-12 col-md-6 col-xl-4">
      <div class="card mb-3 widget-chart">
        <div class="widget-chart-content">
          <div class="icon-wrapper rounded">
            <div class="icon-wrapper-bg bg-danger"></div>
            <i class="lnr-graduation-hat text-danger"></i>
          </div>
          <div class="widget-numbers"><span>1M</span></div>
          <div class="widget-subheading fsize-1 pt-2 opacity-10 text-danger font-weight-bold">
            Invested Dividents
          </div>
          <div class="widget-description opacity-8">
            Compared to YoY:
            <span class="text-info pl-1">
              <span class="pl-1">14.1%</span>
            </span>
          </div>
          <br>
          <button type="button" class="btn-shadow d-inline-flex align-items-center btn btn-danger">
            Désinstaller 
        </button>
        </div>
        <div class="widget-chart-wrapper">
          <canvas baseChart class="chart"></canvas>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-xl-4">
      <div class="card mb-3 widget-chart">
        <div class="widget-chart-content">
          <div class="icon-wrapper rounded">
            <div class="icon-wrapper-bg bg-info"></div>
            <i class="lnr-diamond text-info"></i>
          </div>
          <div class="widget-numbers text-danger"><span>$294</span></div>
          <div class="widget-subheading fsize-1 pt-2 opacity-10 text-info font-weight-bold">Withdrawals</div>
          <div class="widget-description opacity-8">
            Down by
            <span class="text-success pl-1">
              <span class="pl-1">21.8%</span>
            </span>
          </div>
          <br>
          <button type="button" class="btn-shadow d-inline-flex align-items-center btn btn-danger">
            Désinstaller 
        </button>
        </div>
        <div class="widget-chart-wrapper">
          <canvas></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center mbg-3">
    <!-- <button type="button" class="btn-shadow d-inline-flex align-items-center btn btn-danger">
        Désinstaller 
    </button> -->
    <!-- <button class="btn-wide btn-pill btn-shadow fsize-1 btn btn-focus btn-lg">
      <span class="mr-2 opacity-7">
        <i class="icon pe-7s-hammer"></i>
      </span>
      View Complete Report
    </button> -->

    <div class="col-sm-12 col-md-6 col-xl-4">
        <div class="card mb-3 widget-chart">
          <div class="widget-chart-content">
            <div class="icon-wrapper rounded">
              <div class="icon-wrapper-bg bg-warning"></div>
              <i class="lnr-laptop-phone text-warning"></i>
            </div>
            <div class="widget-numbers">
              <span>3M</span>
            </div>
            <div class="widget-subheading fsize-1 pt-2 opacity-10 text-warning font-weight-bold">Cash Deposits</div>
            <div class="widget-description opacity-8">
              <span class="text-danger pr-1">
                <span class="pl-1">54.1%</span>
              </span>
              down last 30 days
            </div>
            <br>
            <button type="button" class="btn-shadow d-inline-flex align-items-center btn btn-danger">
              Désinstaller 
          </button>
          </div>
          <div class="widget-chart-wrapper">
            <div class="d-block">
              <canvas></canvas>
            </div>
          </div>
        </div>
      </div>
  </div>