<!-- <p>groupes works!</p> -->
<div class="app-page-title">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div class="page-title-icon">
        <i class="vsm-icon pe-7s-network"></i>
      </div>
      <div>
        <h2>Liste <b>Départements</b></h2>
      </div>
    </div>

  </div>
</div>

<div class="main-card mb-3 card">
  <div class="card-header">
    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
      Nos départements
    </div>
    <div class="btn-actions-pane-right">


      <button type="button" class="btn-shadow d-inline-flex align-items-center btn btn-success"
      (click)="triggerModal(modalData)">
        <br>
        <div><i class="material-icons">&#xE147;</i>
        </div>
        Ajouter un Nouveau Groupe
      </button>

    </div>
  </div>
  <div class="table-responsive">
    <table class="align-middle text-truncate mb-0 table table-borderless table-hover">
      <thead>
        <tr>
          <th class="text-center">Nom du Groupe</th>
          <th class="text-center">Utilisateurs du groupe</th>
          <th class="text-center">Détails</th>
          <th class="text-center">Ajout</th>
          <th class="text-center">Actions</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let departements of departements">
          <td class="text-center">
            {{departements.nom}}
          </td>
          <td class="text-center">
            <a href="#">Consulter liste des utilisateurs
            </a>
          </td>
          <td class="text-center">
              <i class="vsm-icon pe-7s-info"></i>
          </td>
          <td class="text-center">
            <div class="avatar-icon-wrapper avatar-icon-sm avatar-icon-add">
              <div class="avatar-icon">
                <i>+</i>
              </div>
            </div>
          </td>
          <td class="text-center">
            <div role="group" class="btn-group-sm btn-group">
            </div>
            <a (click)="open(content1)" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip"
                title="Edit">&#xE254;</i></a>
            <ng-template #content1 let-c="close" let-d="dismiss">
              <div class="modal-header">
                <h4 class="modal-title">Modifier département</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')" >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="card-body">
                  <form>
                    <div class="position-relative form-group">
                      <label for="examplegroupe">Nom département</label>
                      <input name="groupe" id="exampleGroupe" placeholder="nom groupe" type="groupe"
                        class="form-control">
                    </div>
                    <div class="position-relative form-group">
                      <label for="examplePassword">Nom Utilisateur</label>
                      <input name="utilisateur" id="exampleUtilisateur" placeholder="nom utilisateur "
                        type="utilisateur" class="form-control">
                    </div>
                    <button class="mt-1 btn btn-primary">Submit</button>
                  </form>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" value="Cancel" (click)="c('Close click')">Close</button>
                <button type="button" class="btn btn-outline-dark" >Save</button>
              </div>
            </ng-template>
            <a class="delete" data-toggle="modal"><i class="material-icons" (click)="supprimeruser(departements.id)"
              data-toggle="tooltip" title="Delete">&#xE872;</i>
          </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-block p-4 text-center card-footer">

  </div>
</div>


<ng-template #modalData let-modal >
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Ajout d'un département</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="this.formtest">
      <div class="position-relative form-group">
        <label for="examplegroupe">Veuillez saisir le nom de groupe</label>
        <input formControlName="nom" name="nom" type="text" placeholder="nom groupe..." class="form-control" >
      </div>     
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Close</button>
    <button type="button" (click)="onSubmit()" (click)="modal.close('Save click')" class="btn btn-success" [disabled]="!formtest.valid">Ajouter</button>
  </div>
</form> 
</div>
</ng-template>